#bulletsplugin {
	position: fixed;
	width: 100%;
	height: 50px;
	top:-50px;
	left: 0px;
	z-index:2147483647;
	border:0px;
	padding:0px;
}
/*
#bulletsplugin *
{
	padding:0px;
	margin:0px;
	line-height:0;
	vertical-align: top;
	font-size: 100%;
}
#bulletsplugin > *
{
	position: absolute;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
}
#bulletsplugin .logged_in {
	background: white;
}
#bulletsplugin .not_logged_in {
	background: #f26765;
}
#bulletsplugin .not_logged_in .logo{
	display:inline-block;
}
#bulletsplugin .not_logged_in .fb_login{
	margin-left:11px;
	margin-top:8px;
	display:inline-block;
}
*/